.countrydata-container {
  z-index: 1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 89vh;
}

.container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 3px 16px;
}

