.languagebox {
  * {
    scrollbar-color: var(--scroll-bar-color) #6d597a;
  }
}

.databox-container {
  border-radius: 16px;
  padding: 4px;
  margin: 24px 16px 4px 16px;
  width: 600px;
  max-width: calc(100vw - 144px);
  max-height: calc(90vh - 72px);
  background-color: #6d597a;
  overflow-y: scroll;
  text-overflow: ellipsis;
  z-index: 1;
  border: thick solid #BB8082;
}



.title {
  text-overflow: ellipsis;
  font-family: Lemonmilk;
  font-size: medium;
  color: #F0DBAF;
  text-align: center;
  margin-top: 16px;
}

.content {
  margin-left: 16px;
  margin-right: 16px;
  text-overflow: ellipsis;
  font-family: Fistalle;
  font-size: medium;
  color: #F0DBAF;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.spinner {
  padding: 16px;
  position: relative;
}

.more-button {
  background-color: #F0DBAF;
  width: calc(96px * 2);
  height: 48px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  color: #6d597a;
  font-family: Lemonmilk;
  font-size: medium;
  display: block;
  margin: 16px auto 0px;
}

.more-button:hover {
  background-color: #aaaaaa;
}

.more-button:active {
  background-color: #F0DBAF;
}
