html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

* {
    box-sizing: border-box;
}

/*@font-face {*/
/*    font-family: "Augustus";*/
/*    src: local("Augustus"),*/
/*    url(../../assets/fonts/augustus.ttf) format("truetype");*/
/*}*/

@font-face {
    font-family: "Vegan";

    src: local("Vegan"),
    url(./assets/fonts/VeganStylePersonalUse-5Y58.ttf) format("truetype");
}

@font-face {
    font-family: "Lemonmilk";

    src: local("Lemonmilk"),
    url(./assets/fonts/LEMONMILK-Regular.otf) format("opentype");
}

:root {
    --code-color: darkred;
    --code-bg-color: #aaaaaa;
    --code-font-size: 14px;
    --code-line-height: 1.4;
    --scroll-bar-color: #b56576;
    --scroll-bar-bg-color: #F0DBAF;
}

pre {
    color: var(--code-color);
    font-size: var(--code-font-size);
    line-height: var(--code-line-height);
    background-color: var(--code-bg-color);
}

.code-block {
    max-height: 100px;
    overflow: auto;
    padding: 8px 7px 5px 15px;
    margin: 0px 0px 0px 0px;
    border-radius: 7px;
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 30px solid var(--scroll-bar-bg-color);
}
